.btnPrograms:hover {
  cursor: pointer;
  background-color: rgb(197, 197, 197);
  box-shadow: 1px 1px 3px rgba(224, 255, 49, 0.6),
    0 0 6px rgba(224, 255, 49, 0.6), 0 0 9px rgba(224, 255, 49, 0.6);
}
.coursesHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.courses {
  margin-top: 2rem;
  flex-shrink: 1;
  /* flex: 1 1 90px; */
  display: flex;
  flex-wrap: wrap;

  /* flex: 1 0 calc(57% - 10px); */
  align-items: center;
  justify-content: center;
  /* flex-shrink: 1; */
}
.child {
  margin:5rem;
  box-sizing: border-box;

}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";

  font-family: roboto;
  border-radius: 18px;
  background-color: aliceblue;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
}

.card:nth-child(even) {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.courses:hover .card:nth-child(even) {
  margin-bottom: 0;
}

.cardImage {
  grid-area: image;
  /* background: url('image3.jpg'); */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.cardText {
  grid-area: text;
  margin: 25px;
}
.cardText p {
  color: gray;
  font-size: 1rem;
  font-weight: 1000;
}
.cardText h2 {
  margin-top: 0px;
  font-size: 2rem;
  font-weight: 1000;
  border-bottom: 1px solid red;
}

.cardStats {
  grid-area: stats;
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgba(173, 255, 180, 0.9);
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 1000;
  color: rgb(255, 255, 255);
  padding: 10px;
}

.card-stats .value {
  font-size: 1.5rem;
}

.card:hover {
  transform: scale(1.1);
  border-color: rgba(224, 255, 49, 0.6);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
