.addForm{
    justify-content: center;
    align-items: center;
      margin: auto;
  width: 100%;

}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
      margin: auto;
    width: 100%;
}

.exerciseHeader{
text-align: center;
}

.exercises{

  margin-top: 1rem;
  display: inline-block;
  width: 99%;
}

.exerciseDetails{

  display: flex;
  position:initial;
  width: 100%;
  font-size: 2rem;
  border:ridge;
  border-radius: 9px;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.exerciseDetails:nth-child(even){
  background-color: lightgray;

}

.exerciseDetails span{
  position: relative;
  width: 100%;

  font-weight: 400;

}

.exerciseDetails span:nth-child(1){
  padding-left: 0.3rem;
}
.exerciseDetails span:last-child{
  text-align:end;
}

@media (min-width: 1240px) {
  .forminput:nth-child(1){

        margin-left: 0.3rem;
        margin-right: 0.3rem;

    }
}